.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea
.DS_Store
/manuscript/trackdown.R
/manuscript/.trackdown
/manuscript/images
manuscript/trackdown.R
response_zcurve_reviews.docx
response_zcurve_reviews.pdf
manuscript/zcurve.docx
